* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Lato Font */
  @font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
  }

  /* Oswald Font */
  @font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
  }

  body {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
    max-width: 640px;
    height: 100vh; /* Full height of the viewport */
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Ensure the entire body can scroll */
  }
  
  h1 {
    font-family: 'Oswald', sans-serif;
    color: #00455C;
    font-size: 35px;
    text-align: center;
  }
  
  /* Remove the fixed heights to allow full page scrolling */
  .container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; /* Ensure container expands */
    display: flex;
    flex-direction: column;
  }
  
  /* Form and inputs styling */
  form label {
    font-size: 20px;
    color: #00455C;
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  #submit_button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #00455C;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #submit_button:hover {
    background-color: #003B4A;
  }
  
  /* Bottom Navigation */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;  /* Ensure it's anchored to the left edge */
  width: 100%;  /* Take full width of the viewport */
  display: flex;
  justify-content: space-around;
  background-color: #00455C;
  padding: 10px 0;
}

.nav-item {
  text-decoration: none; /* Remove underline from links */
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-item img {
  width: 40px;
  height: 40px;
}

.nav-item .nav-title {
  font-family: 'Lato', sans-serif; /* Ensuring Lato font is applied */
  font-size: 13px;
  color: #fff;
  margin-top: 4px;
}

.nav-item.active img {
  filter: brightness(1.5);
}